@{
    ViewData["Title"] = "Consultas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HEADER -->
<header class="py-5 rounded position-relative" style="background-image: url('https://images.pexels.com/photos/160846/french-bulldog-summer-smile-joy-160846.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover; background-position: center; overflow: hidden;">

    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1;"></div>

    <div class="container px-4 px-lg-5 my-5 position-relative" style="z-index: 2;">
        <div class="text-center text-white">
            <h1 class="display-4 text-white">Consultas PAW</h1>
                <p class="lead text-white">Informacion disponible</p>
        </div>
    </div>
</header>
<body>

    <!-- Seccion de informacion -->
    <section class="buy_section layout_padding" style="background-color: #f9f9f9; padding: 60px 0; text-align: center;">
        <div class="container">
            <h2 style="font-size: 2.5rem; color: #333; font-weight: bold; margin-bottom: 20px;">
                Visita nuestra tienda en línea y adquiere nuestros servicios de manera fácil y rápida.
            </h2>
            <p style="font-size: 1.2rem; color: #777; margin-bottom: 40px;">
                Te invitamos a ingresar a nuestra tienda en línea, donde podrás acceder a todos nuestros productos, de forma cómoda y segura
            </p>
            <p>
               ¡Todo al alcance de un click!
            </p>
            <div>
                <a href="@Url.Action("InicioSesion", "Acceso")" class="btn btn-primary" style="background-color: #2DB2B5; padding: 15px 30px; font-size: 1.1rem;">
                    Compra ahora!
                </a>
            </div>

        </div>
    </section>

    <!-- client section -->
    <section class="client_section layout_padding-bottom" style="padding: 60px 0;">
        <div class="container">
            <h2 class="text-center mb-4" style="font-size: 2.5rem; color: #333;">
                Comentarios de nuestros <span style="color: #2DB2B5;">Clientes</span>
            </h2>
            <p class="text-center mb-5" style="font-size: 1.2rem; color: #555;">
                ¡Escuche lo que nuestros felices clientes tienen que decir sobre nuestro servicio!
            </p>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Testimonio 1 -->
                    <div class="carousel-item active">
                        <div class="card" style="border-radius: 15px; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);">
                            <div class="card-body text-center p-5" style="background-color: #fff;">
                                <p class="mb-4" style="font-size: 1.2rem; color: #555; font-style: italic;">
                                    "Este es el mejor servicio que he usado. ¡Me ha simplificado muchísimo la vida!"
                                </p>
                                <div class="d-flex justify-content-center m-2">
                                    <img src="/images/perfil.png" alt="Foto del producto" style="width: 100px; height: 100px" class="rounded-circle" />
                                </div>
                                <h4 style="font-size: 1.4rem; color: #2DB2B5;">Jose </h4>
                                <span style="font-size: 1.1rem; color: #777;">Cliente</span>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonio 2 -->
                    <div class="carousel-item">
                        <div class="card" style="border-radius: 15px; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);">
                            <div class="card-body text-center p-5" style="background-color: #fff;">
                                <p class="mb-4" style="font-size: 1.2rem; color: #555; font-style: italic;">
                                    "No podria estar mas feliz con la facilidad de compra que cuenta la veteria PAW"
                                </p>
                                <div class="d-flex justify-content-center m-2">
                                    <img src="/images/perfil.png" alt="Foto del producto" style="width: 100px; height: 100px" class="rounded-circle" />
                                </div>
                                <h4 style="font-size: 1.4rem; color: #2DB2B5;">Rober </h4>
                                <span style="font-size: 1.1rem; color: #777;">Cliente</span>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonio 3 -->
                    <div class="carousel-item">
                        <div class="card" style="border-radius: 15px; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);">
                            <div class="card-body text-center p-5" style="background-color: #fff;">
                                <p class="mb-4" style="font-size: 1.2rem; color: #555; font-style: italic;">
                                    "Una solución confiable e innovadora que superó mis expectativas. ¡La recomiendo ampliamente!"
                                </p>
                                <div class="d-flex justify-content-center m-2">
                                    <img src="/images/perfil.png" alt="Foto del producto" style="width: 100px; height: 100px" class="rounded-circle" />
                                </div>
                                <h4 style="font-size: 1.4rem; color: #2DB2B5;">Luisa</h4>
                                <span style="font-size: 1.1rem; color: #777;">Cliente</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles del slider -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <!-- info section -->
    <section class="info_section layout_padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <div class="card" style="text-align: center; padding: 20px; background-color: #2DB2B5;">
                            <i class="fas fa-map-marker-alt" style="font-size: 3rem; color: #fff; margin-bottom: 20px;"></i>
                            <div class="detail-box">
                                <p style="font-size: 1.2rem; color: #fff;">San Jose</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="card" style="text-align: center; padding: 20px; background-color: #2DB2B5;">
                            <i class="fas fa-phone-alt" style="font-size: 3rem; color: #fff; margin-bottom: 20px;"></i>
                            <div class="detail-box">
                                <p style="font-size: 1.2rem; color: #fff;">+506 2233-8833</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <div class="card" style="text-align: center; padding: 20px; background-color: #2DB2B5;">
                            <i class="fas fa-envelope" style="font-size: 3rem; color: #fff; margin-bottom: 20px;"></i>
                            <div class="detail-box">
                                <p style="font-size: 1.2rem; color: #fff;">PAW@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end info_section -->
</body>
