@model VeterinariaPAW.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!-- IMAGEN -->
            <div class="col-md-6">
                <img class="img-fluid rounded mb-4" src="https://images.pexels.com/photos/8473523/pexels-photo-8473523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." />
            </div>

            <!-- DATOS -->
            <div class="col-md-6">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Crear Producto</h2>

                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label asp-for="Nombre" class="form-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Descripcion" class="form-label"></label>
                                <input asp-for="Descripcion" class="form-control" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="FechaCaducidad" class="form-label"></label>
                                <input asp-for="FechaCaducidad" class="form-control" type="date" />
                                <span asp-validation-for="FechaCaducidad" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="SKU" class="form-label"></label>
                                <input asp-for="SKU" class="form-control" />
                                <span asp-validation-for="SKU" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="IdCategoria" class="form-label"></label>
                                <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.NombreCategoria"></select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Precio" class="form-label"></label>
                                <input asp-for="Precio" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Stock" class="form-label"></label>
                                <input asp-for="Stock" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="IdProveedor" class="form-label"></label>
                                <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.NombreProveedor"></select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Tipo" class="form-label"></label>
                                <select asp-for="Tipo" class="form-control">
                                    <option value="Perros">Perros</option>
                                    <option value="Gatos">Gatos</option>
                                    <option value="Roedores">Roedores</option>
                                    <option value="Aves">Aves</option>
                                    <option value="Peces">Peces</option>
                                    <option value="Otros">Otros animales</option>
                                </select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Estado" class="form-label"></label>
                                <select asp-for="Estado" class="form-control">
                                    <option value="true">Activo</option>
                                    <option value="false">Desactivado</option>
                                </select>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="Clinico" class="form-label"></label>
                                <select asp-for="Clinico" class="form-control">
                                    <option value="true">Sí</option>
                                    <option value="false">No</option>
                                </select>
                                <span asp-validation-for="Clinico" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label asp-for="FotoUrl" class="form-label">URL de Imagen</label>
                                <input asp-for="FotoUrl" class="form-control" />
                                <span asp-validation-for="FotoUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- BOTONES -->
                        <button type="submit" class="btn btn-primary w-100 mt-3">Crear Producto</button>
                    </form>
                    <form asp-action="Index" method="get">
                        <button type="submit" class="btn btn-outline-secondary w-100 mt-3 rounded-pill"> Volver</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SCRIPTS -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
